{% extends 'base.html' %}
{% block title %}Generador de nombres{% endblock %}
{% block cabecera %}{% include "tabs.html" with active_tab='tab4' %}{% endblock %}
{% block barraizq %}
    {% include "ayudas/ayudaslat.html" %}
{% endblock %}
{% block contenido %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/callectrl.js"></script>
    <div ng-controller="calleCtrl">
        <h1>Generador de Direcciones</h1>

        <div class="btn" ng-click="nombrecallegen()"> Nombre de Calle</div>
        [{nombrecalle}]

    </div>
{% endblock %}