<ul class="nav">
    <li><a class="{% if active_tab == 'tab1' %}active{% endif %}" href="/">Indice</a></li>
    <li><a class="{% if active_tab == 'tab2' %}active{% endif %}" href="/escenarios">Escenarios</a></li>
    <li><a class="{% if active_tab == 'tab3' %}active{% endif %}" href="/chargen">Chargen</a></li>
    <li><a class="{% if active_tab == 'tab4' %}active{% endif %}" href="/ayudas">Ayudas</a></li>
    <li><a class="{% if active_tab == 'tab5' %}active{% endif %}" href="/admin/">Admin</a></li>
</ul>

